### Imports

In [1]:
import main_var
mv = main_var.main_var()

from article_scraping_lib import *
from article_parsing_lib import *
from openai_module_lib import *
from embedding_keyword_module_lib import *
from visualization_module_lib import *
from dimension_reduc_lib import *
from aggregation_module_lib import *
from utils_art import *

_ENTRY_NUMBER = 50
_STEP_PCT = 0.1

IMPORT : main_var
IMPORT : utils_art
IMPORT : text_analysis
WARNING:tensorflow:From C:\Users\User\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

IMPORT : embedding_keyword_module_lib
IMPORT : article_scraping_lib

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

IMPORT : article_parsing_lib
IMPORT : openai_module_lib
IMPORT : dimension_reduc

## Querring, Scraping and saving articles
#### Querring of articles

In [ ]:
# df_query = openDFcsv(mv.query_path,mv.query_filename)
df_query = loop_scraping(number_topics=3,
                   startDate='2015-01-01',
                   endDate='2024-01-01',
                   sampling_1=3,
                   sampling_2=3,
                   save_steps=True,
                   save_final=True,
                   display=True)

#### Display Statistics

In [ ]:
plotDFstatisticsQuerry(df_query,70,False)
displayStats(df_query)

#### Filter articles with a source that is too/not enought scrapped and source/category/date

In [ ]:
# df = openDFcsv(mv.query_path,mv.query_filename)
df_query_filter = filterQuerryDataset(thd_high=100,thd_low=3,display_stats=True,display_end_stats=False,save=True)
plotDFstatisticsQuerry(df_query_filter)
displayStats(df_query_filter)

In [ ]:
# categroy_l = ["WORLD","NATION","BUSINESS","TECHNOLOGY"]
# source_l = ["Newsweek","Yahoo Finance","ESPN","Fox News","World Health Organization (WHO)","Pew Research Center","The New York Times","Nature.com","Tax Foundation","Union of Concerned Scientists"]
# df3 = selectOnDf(df2,date_start="2010-01-01", date_end="2024-01-01", categroy_list=categroy_l, source_list=source_l)
# displayStats(df3)
# saveDFcsv(df3,mv.query_path,"query_fileG_cap")

### Scrap articles from the web based on the query file

In [ ]:
# df_scrap = openDFcsv(mv.scarp_path,mv.scarp_filename)
df_scrap = readArticleFileTable(index_from=0,
                          index_to=_ENTRY_NUMBER,
                          save_articles=True,
                          save_final=True,
                          save_steps=True,
                          display_df=True,
                          step_pct=_STEP_PCT,
                          add_nlp=2,
                          filtered_input_df=True)

#### *Join the two results*

In [ ]:
# df_join1 = openDFcsv(mv.join1_path,mv.join1_filename)
df_join1 = joinQuerryAndParse(save=True,
                        remove_invalid=True,
                        display=True,
                        filtered_input_df=True)

## Generation of Embedding and Keyword data
#### Embedding with OpenAI API

In [ ]:
# df_embdedding = openDFcsv(mv.embdedding_path,mv.embdedding_filename)
df_embdedding = mainGeneration(articleTRUEquestionFALSE=True,
                     completionTRUEembeddingFALSE=False,
                     dimension=10,
                     max_prompt=_ENTRY_NUMBER,
                     token_max_emb=7500,
                     cara_max_emb=10000,
                     save_final=True,
                     display_df_var=True,
                     save_steps=True,
                     step_pct=_STEP_PCT)

##### Extract embedding from file

In [ ]:
emb_mat = extractEmbeddingFromFile(_ENTRY_NUMBER,True)

##### Use dime,tion reduction on emneded data

In [ ]:
df_embdedding2 = generateDimReducedDF(n_components=3,
                                          norm_output=True,
                                      active_sel=[True,True,True,True])

#### Keyword extraction and NLP analysis

In [5]:
# df = openDFcsv(mv.keyword_path,mv.keyword_filename)
df_keyword = mainKeywordWF(entry_limit=_ENTRY_NUMBER,
              common_word_max=100,
              add_nlp_stats=True,
              nlp_source_col="word_combined_all")

         count
keyword
fda          1
into         1
kitchen      1
out          1
moly         1
...        ...
s           13
chef        13
of          14
the         29
top         46

[297 rows x 1 columns]

Unique keywords : 297   Sum of occurences : 540   (1.82 avg)
Unique keywords : 297   Sum of occurences : 540   (1.82 avg)

             count
keyword
problem          1
contestants      1
going            1
understood       1
watched          1
...            ...
padma            7
recap            7
food             8
chefs           10
chef            13

[501 rows x 1 columns]

Unique keywords : 501   Sum of occurences : 643   (1.28 avg)
Unique keywords : 501   Sum of occurences : 643   (1.28 avg)
0_f                object
1_f                object
2_f                object
3_f                object
4_f                object
5_f                object
6_f                object
7_f                object
8_f                object
9_f                object
10_f               object
11_f               object
12_f               object
13_f               object
14_f               object
15_f               object
16_f               object
word_count_f        int64
word_combined_f    object
0_s                object
1_s                object
2_s                object
3_s                object
4_s                object
5_s                object
6_s                object
7_s                object
8_s                object
9_s                object
10_s               object
11_s               object
12_s               object
13_s               object
14_s               object
15_s               object
16_s               object
word_count_s        int64
word_combined_s    object
dtype: object
stop
 - Generate NLP for article #0  (char:140)
 - Generate NLP for article #1  (char:125)
 - Generate NLP for article #2  (char:122)
 - Generate NLP for article #3  (char:183)
 - Generate NLP for article #4  (char:151)
 - Generate NLP for article #5  (char:181)
 - Generate NLP for article #6  (char:150)
 - Generate NLP for article #7  (char:119)
 - Generate NLP for article #8  (char:128)
 - Generate NLP for article #9  (char:159)
 - Generate NLP for article #10  (char:237)
 - Generate NLP for article #11  (char:169)
 - Generate NLP for article #12  (char:166)
 - Generate NLP for article #13  (char:163)
 - Generate NLP for article #14  (char:188)
 - Generate NLP for article #15  (char:151)
 - Generate NLP for article #16  (char:213)
 - Generate NLP for article #17  (char:148)
 - Generate NLP for article #18  (char:177)
 - Generate NLP for article #19  (char:141)
 - Generate NLP for article #20  (char:201)
 - Generate NLP for article #21  (char:182)
 - Generate NLP for article #22  (char:133)
 - Generate NLP for article #23  (char:203)
 - Generate NLP for article #24  (char:242)
 - Generate NLP for article #25  (char:155)
 - Generate NLP for article #26  (char:117)
 - Generate NLP for article #27  (char:253)
 - Generate NLP for article #28  (char:219)
 - Generate NLP for article #29  (char:189)
 - Generate NLP for article #30  (char:153)
 - Generate NLP for article #31  (char:183)
 - Generate NLP for article #32  (char:177)
 - Generate NLP for article #33  (char:165)
 - Generate NLP for article #34  (char:209)
 - Generate NLP for article #35  (char:139)
 - Generate NLP for article #36  (char:152)
 - Generate NLP for article #37  (char:154)
 - Generate NLP for article #38  (char:176)
 - Generate NLP for article #39  (char:182)
 - Generate NLP for article #40  (char:155)
 - Generate NLP for article #41  (char:159)
 - Generate NLP for article #42  (char:161)
 - Generate NLP for article #43  (char:165)
 - Generate NLP for article #44  (char:187)
 - Generate NLP for article #45  (char:234)
Input DF shape : (46, 14)

                                                                                 title_quer                                      keywords_list  word_count_f_t                                  word_combined_f_t  word_count_f_k                                  word_combined_f_k  word_count_s_t                                  word_combined_s_t  word_count_s_k                                  word_combined_s_k                                  word_combined_all  word_count_all                              word_combined_all_sel  word_count_all_sel
hash_key
947b7097b5e1c74878a0bff2bfd914058bbd5d73  The view from the top of the food chain - High...  ['privilege', 'feet', 'thrush', 'food', 'flies...              12  the view from the top of the food chain high c...              13  privilege feet thrush food flies human view tr...              10  of high top the from view news country chain f...              13  small feet path trail species flies view privi...  the view from the top of the food chain high c...              25  of high top the from view news country chain f...                  23
ff21db677a4f324fdc0d98d15a6261f5b1af9316   Top Chef Boston Finale: Show Me the Mole - Eater  ['meal', 'finale', 'tom', 'dish', 'dessert', '...               9     top chef boston finale show me the mole eater               13  meal finale tom dish dessert gregory chef cour...               9     finale show eater mole me top boston chef the               13  finale chefs dessert mole tom course judges me...  top chef boston finale show me the mole eater ...              22  finale show eater mole me top boston chef the ...                  22
ed0020bdbb2d5241ba3c8bebdb4f5aa7049aff64  'Top Chef' recap: 'Mano a Mano' - Entertainmen...  ['mano', 'food', 'dish', 'gregorys', 'recap', ...               9  top chef recap mano a mano entertainment weekl...              12  mano food dish gregorys recap shes gregory che...               8   top recap a news weekly chef entertainment mano               12  gregorys chefs meis past recap mei chef shes g...  top chef recap mano a mano entertainment weekl...              21  top recap a news weekly chef entertainment man...                  20

Generated DF shape : (46, 16)

                                          tb.pol  tb.sub  tb.polaj    tb.pos    tb.neg  vs.pos  vs.neu  vs.neg  vs.comp    ts.neg    ts.pos  tb.class  vs.class  ts.class  al.pos  al.neg
hash_key
947b7097b5e1c74878a0bff2bfd914058bbd5d73  0.1025   0.385   0.55125  0.909997  0.090003   0.158   0.842     0.0   0.5106  0.136965  0.877503      True      True      True     1.0     0.0
ff21db677a4f324fdc0d98d15a6261f5b1af9316  0.5000   0.500   0.75000  0.983268  0.016732   0.079   0.921     0.0   0.2023  0.102002  0.875757      True      True      True     1.0     0.0
ed0020bdbb2d5241ba3c8bebdb4f5aa7049aff64  0.1250   0.375   0.56250  0.910856  0.089144   0.195   0.805     0.0   0.5574  0.061605  0.885065      True      True      True     1.0     0.0

Output DF shape : (46, 30)

                                                                                 title_quer                                      keywords_list  word_count_f_t                                  word_combined_f_t  word_count_f_k                                  word_combined_f_k  word_count_s_t                                  word_combined_s_t  word_count_s_k                                  word_combined_s_k  ... vs.neu  vs.neg vs.comp    ts.neg    ts.pos  tb.class  vs.class  ts.class  al.pos  al.neg
hash_key                                                                                                                                                                                                                                                                                                                                                                                                                    ...
947b7097b5e1c74878a0bff2bfd914058bbd5d73  The view from the top of the food chain - High...  ['privilege', 'feet', 'thrush', 'food', 'flies...              12  the view from the top of the food chain high c...              13  privilege feet thrush food flies human view tr...              10  of high top the from view news country chain f...              13  small feet path trail species flies view privi...  ...  0.842     0.0  0.5106  0.136965  0.877503      True      True      True     1.0     0.0
ff21db677a4f324fdc0d98d15a6261f5b1af9316   Top Chef Boston Finale: Show Me the Mole - Eater  ['meal', 'finale', 'tom', 'dish', 'dessert', '...               9     top chef boston finale show me the mole eater               13  meal finale tom dish dessert gregory chef cour...               9     finale show eater mole me top boston chef the               13  finale chefs dessert mole tom course judges me...  ...  0.921     0.0  0.2023  0.102002  0.875757      True      True      True     1.0     0.0
ed0020bdbb2d5241ba3c8bebdb4f5aa7049aff64  'Top Chef' recap: 'Mano a Mano' - Entertainmen...  ['mano', 'food', 'dish', 'gregorys', 'recap', ...               9  top chef recap mano a mano entertainment weekl...              12  mano food dish gregorys recap shes gregory che...               8   top recap a news weekly chef entertainment mano               12  gregorys chefs meis past recap mei chef shes g...  ...  0.805     0.0  0.5574  0.061605  0.885065      True      True      True     1.0     0.0

[3 rows x 30 columns]

#### *Joining Quering/Scraping/Embedding/Keywords*

In [6]:
# df_join2 = openDFcsv(mv.join2_path,mv.join2_filename)
joinAllDF()

C:/Users/User/OneDrive/Desktop/Article_LLM/main_files/3_1_join_main/.main/ join2_filetest

                                                                                 title_quer                                               link   published                      source_url                 source_title category  year year_month                                                 pk             url_list  ... vs.neu_k vs.neg_k vs.comp_k  ts.neg_k  ts.pos_k  tb.class  vs.class  ts.class  al.pos_k  al.neg_k
hash_key                                                                                                                                                                                                                                                                                                                   ...
947b7097b5e1c74878a0bff2bfd914058bbd5d73  The view from the top of the food chain - High...  https://news.google.com/rss/articles/CBMiSWh0d...  2015-11-23             https://www.hcn.org            High Country News      TOP  2015    2015-11  CBMiSWh0dHBzOi8vd3d3Lmhjbi5vcmcvaXNzdWVzLzQ3LT...              ['hcn']  ...    0.842    0.000    0.5106  0.136965  0.877503      True      True      True  1.000000  0.000000
ff21db677a4f324fdc0d98d15a6261f5b1af9316   Top Chef Boston Finale: Show Me the Mole - Eater  https://news.google.com/rss/articles/CBMiVWh0d...  2015-02-12           https://www.eater.com                        Eater      TOP  2015    2015-02  CBMiVWh0dHBzOi8vd3d3LmVhdGVyLmNvbS8yMDE1LzIvMT...            ['eater']  ...    0.921    0.000    0.2023  0.102002  0.875757      True      True      True  1.000000  0.000000
ed0020bdbb2d5241ba3c8bebdb4f5aa7049aff64  'Top Chef' recap: 'Mano a Mano' - Entertainmen...  https://news.google.com/rss/articles/CBMiL2h0d...  2015-02-12                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-02  CBMiL2h0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.805    0.000    0.5574  0.061605  0.885065      True      True      True  1.000000  0.000000
74d93ab0f8daf71d225354882ece58b6eb21311a  America's Next Top Model Was the Only Reality ...  https://news.google.com/rss/articles/CBMiQWh0d...  2015-12-04         https://www.vulture.com                      Vulture      TOP  2015    2015-12  CBMiQWh0dHBzOi8vd3d3LnZ1bHR1cmUuY29tLzIwMTUvMT...          ['vulture']  ...    0.844    0.097   -0.2960  0.158211  0.783020      True     False      True  0.666667  0.333333
37b3d3fa1ea8886e1ae9724b9e691a17caa5f99f  Climate Change Seen as Top Global Threat - Pew...  https://news.google.com/rss/articles/CBMiV2h0d...  2015-07-14     https://www.pewresearch.org          Pew Research Center      TOP  2015    2015-07  CBMiV2h0dHBzOi8vd3d3LnBld3Jlc2VhcmNoLm9yZy9nbG...      ['pewresearch']  ...    0.688    0.246   -0.7184  0.589479  0.743595      True     False      True  0.666667  0.333333
8a695d11ff1c4fde3d93bc0740d2fda5a50cc695  Patty Stonesifer of Martha's Table: Zigzag You...  https://news.google.com/rss/articles/CBMibWh0d...  2015-09-12         https://www.nytimes.com           The New York Times      TOP  2015    2015-09  CBMibWh0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMTUvMD...          ['nytimes']  ...    0.943    0.000    0.2023  0.111000  0.836625      True      True      True  1.000000  0.000000
d4ef840043e1b3f6877bf38edc8e9f988d88ddf9  Padma Lakshmi on Top Chef Weight Gain and Well...  https://news.google.com/rss/articles/CBMiTWh0d...  2015-07-09          https://www.thecut.com                      The Cut      TOP  2015    2015-07  CBMiTWh0dHBzOi8vd3d3LnRoZWN1dC5jb20vMjAxNS8wNi...           ['thecut']  ...    0.490    0.054    0.9393  0.133998  0.755079     False      True      True  0.666667  0.333333
cd0661e5badb831b0c3f7a76245189799ebea5ed                  Top 10 Hubble images - Nature.com  https://news.google.com/rss/articles/CBMiMWh0d...  2015-04-15          https://www.nature.com                   Nature.com      TOP  2015    2015-04  CBMiMWh0dHBzOi8vd3d3Lm5hdHVyZS5jb20vYXJ0aWNsZX...           ['nature']  ...    0.893    0.000    0.2023  0.083250  0.877123      True      True      True  1.000000  0.000000
0cac25fa3dc0b19e36198475bae1d4910dedc763       Top Chef Boston Episode 10: Foie Nah - Eater  https://news.google.com/rss/articles/CBMiQWh0d...  2015-01-08           https://www.eater.com                        Eater      TOP  2015    2015-01  CBMiQWh0dHBzOi8vd3d3LmVhdGVyLmNvbS8yMDE1LzEvOC...            ['eater']  ...    0.742    0.122    0.0772  0.176277  0.867919      True      True      True  1.000000  0.000000
fcee664fa9bb6a73de43636b766fcad766e04677  Top Chef recap: 'The Final Battle of Beantown'...  https://news.google.com/rss/articles/CBMiM2h0d...  2015-01-22                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-01  CBMiM2h0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.595    0.155    0.4939  0.044438  0.768126      True      True      True  1.000000  0.000000
c016cc9f01771e9286a7bd9c100a2173f2db768e  Early crocodylomorph increases top tier predat...  https://news.google.com/rss/articles/CBMiKWh0d...  2015-03-19          https://www.nature.com                   Nature.com      TOP  2015    2015-03  CBMiKWh0dHBzOi8vd3d3Lm5hdHVyZS5jb20vYXJ0aWNsZX...           ['nature']  ...    0.947    0.000    0.2023  0.092352  0.855823      True      True      True  1.000000  0.000000
05891882e83a5713d0559116754ddb6bfa5208ee  Top Chef Boston Episode 14: Guacamole, Escamol...  https://news.google.com/rss/articles/CBMiT2h0d...  2015-02-05           https://www.eater.com                        Eater      TOP  2015    2015-02  CBMiT2h0dHBzOi8vd3d3LmVhdGVyLmNvbS8yMDE1LzIvNS...            ['eater']  ...    0.881    0.000    0.2732  0.096301  0.833447      True      True      True  1.000000  0.000000
3e2de18a1a4d2e157bd08b37a425531a25d06299  'Top Chef' Season 13 Episode 4: Out of the Kit...  https://news.google.com/rss/articles/CBMiV2h0d...  2015-12-18           https://www.eater.com                        Eater      TOP  2015    2015-12  CBMiV2h0dHBzOi8vd3d3LmVhdGVyLmNvbS8yMDE1LzEyLz...            ['eater']  ...    0.938    0.000    0.2023  0.099243  0.910288      True      True      True  1.000000  0.000000
72e7bf350108ba937a266982ca293d4673b2a95a  Infographic: Top 10 states for LEED in 2014 | ...  https://news.google.com/rss/articles/CBMiQmh0d...  2015-02-04           https://www.usgbc.org                        USGBC      TOP  2015    2015-02  CBMiQmh0dHBzOi8vd3d3LnVzZ2JjLm9yZy9hcnRpY2xlcy...            ['usgbc']  ...    0.858    0.075   -0.0516  0.238137  0.850339      True     False      True  0.666667  0.333333
9fd61e986fc4886fc65076f04eef65ef04b47665  Airmen learn from US military's top leaders > ...  https://news.google.com/rss/articles/CBMiYmh0d...  2015-06-02              https://www.af.mil               Air Force Link      TOP  2015    2015-06  CBMiYmh0dHBzOi8vd3d3LmFmLm1pbC9OZXdzL0FydGljbG...               ['af']  ...    0.940    0.000    0.2023  0.075029  0.850760      True      True      True  1.000000  0.000000
a71f36411a420ff462d65a2117e8d63f4cda3106  America, still at top — Harvard Gazette - Harv...  https://news.google.com/rss/articles/CBMiRGh0d...  2015-03-17        https://news.harvard.edu              Harvard Gazette      TOP  2015    2015-03  CBMiRGh0dHBzOi8vbmV3cy5oYXJ2YXJkLmVkdS9nYXpldH...  ['news', 'harvard']  ...    0.726    0.109    0.1027  0.117020  0.819561      True      True      True  1.000000  0.000000
1e4976c158e5968750088ebfe60903c57faf3d00  Tennis's Top Women Balance Body Image With Amb...  https://news.google.com/rss/articles/CBMicWh0d...  2015-07-10         https://www.nytimes.com           The New York Times      TOP  2015    2015-07  CBMicWh0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMTUvMD...          ['nytimes']  ...    0.942    0.000    0.2023  0.133590  0.886309      True      True      True  1.000000  0.000000
059819efc37e58c542f89ba68653d8098363d569  Opinion | Not Lonely at the Top - The New York...  https://news.google.com/rss/articles/CBMiRWh0d...  2015-07-24         https://www.nytimes.com           The New York Times      TOP  2015    2015-07  CBMiRWh0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMTUvMD...          ['nytimes']  ...    0.662    0.195   -0.3378  0.362152  0.778396      True     False      True  0.666667  0.333333
f2ab7da85262b5723ae2f4dbe86d3bd90388efa2  Top Chef California premiere recap: Stop the P...  https://news.google.com/rss/articles/CBMiMWh0d...  2015-12-03                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-12  CBMiMWh0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.710    0.142    0.0516  0.130244  0.868508      True      True      True  1.000000  0.000000
318f05d5300def80fbe0bb25a04894cd0622768b  'Top Chef' recap: 'Holy Escamoly!' - Entertain...  https://news.google.com/rss/articles/CBMiOWh0d...  2015-03-23                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-03  CBMiOWh0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.805    0.000    0.5574  0.053869  0.861374      True      True      True  1.000000  0.000000
b8d31a067321e1b086b3cc15b7554c62e475da38  Top-Notch Hospitals That Are Partnered With th...  https://news.google.com/rss/articles/CBMiowFod...  2015-08-05          https://www.usnews.com     U.S. News & World Report      TOP  2015    2015-08  CBMiowFodHRwczovL3d3dy51c25ld3MuY29tL2VkdWNhdG...           ['usnews']  ...    0.718    0.000    0.8807  0.051967  0.547624      True      True      True  1.000000  0.000000
e58c800f104b92e327c3646c526b77ae55e1b65a  SecAF outlines top priorities in visit to Kirt...  https://news.google.com/rss/articles/CBMiamh0d...  2015-03-13              https://www.af.mil               Air Force Link      TOP  2015    2015-03  CBMiamh0dHBzOi8vd3d3LmFmLm1pbC9OZXdzL0FydGljbG...               ['af']  ...    0.800    0.000    0.7184  0.047837  0.826623      True      True      True  1.000000  0.000000
68738725eae6f4b6bd90fe1181016976233b495f  Top Chef recap: It's a Dry Heat - Entertainmen...  https://news.google.com/rss/articles/CBMiMmh0d...  2015-12-18                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-12  CBMiMmh0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.827    0.000    0.5574  0.063675  0.910138      True      True      True  1.000000  0.000000
ad4bc122ed3e907c00b02c138a9bc78e17431fa1  Top nutritionists in food fight over principle...  https://news.google.com/rss/articles/CBMiQWh0d...  2015-11-24        https://www.statnews.com                         STAT      TOP  2015    2015-11  CBMiQWh0dHBzOi8vd3d3LnN0YXRuZXdzLmNvbS8yMDE1Lz...         ['statnews']  ...    0.596    0.141    0.5423  0.221110  0.807619      True      True      True  1.000000  0.000000
fb95dcb299abfaf4c9cc68c52b4daa8ee512f24e  Cyclotron Road: Creating a Home for Top Clean ...  https://news.google.com/rss/articles/CBMidmh0d...  2015-09-02          https://www.energy.gov                   Energy.gov      TOP  2015    2015-09  CBMidmh0dHBzOi8vd3d3LmVuZXJneS5nb3YvZWVyZS9hcn...           ['energy']  ...    0.562    0.000    0.9313  0.052799  0.782100      True      True      True  1.000000  0.000000
47b3f3197198522bcb158a502dc8e92389fabfa5  Top Chef recap: Pop Up Pandemonium - Entertain...  https://news.google.com/rss/articles/CBMiMmh0d...  2015-12-04                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-12  CBMiMmh0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.820    0.000    0.5574  0.072836  0.897564      True      True      True  1.000000  0.000000
c1b4d5df51fe610894f0659d6395311f779bed55  SEC sets record with 10 teams in AP Top 25 - N...  https://news.google.com/rss/articles/CBMiX2h0d...  2015-09-08            https://www.ncaa.com                     NCAA.com      TOP  2015    2015-09  CBMiX2h0dHBzOi8vd3d3Lm5jYWEuY29tL25ld3MvZm9vdG...             ['ncaa']  ...    0.917    0.000    0.2023  0.072833  0.901101     False      True      True  0.666667  0.333333
c58d2e382524ad6d7abc4fb56df3565f2735d463  Exploring new avenues in high repetition rate ...  https://news.google.com/rss/articles/CBMiKWh0d...  2015-08-28          https://www.nature.com                   Nature.com      TOP  2015    2015-08  CBMiKWh0dHBzOi8vd3d3Lm5hdHVyZS5jb20vYXJ0aWNsZX...           ['nature']  ...    0.948    0.000    0.2023  0.135964  0.894041      True      True      True  1.000000  0.000000
de1810e3cae3faa876ba4c1b55c470996cee0398  Antiquity of the South Atlantic Anomaly and ev...  https://news.google.com/rss/articles/CBMiKmh0d...  2015-07-28          https://www.nature.com                   Nature.com      TOP  2015    2015-07  CBMiKmh0dHBzOi8vd3d3Lm5hdHVyZS5jb20vYXJ0aWNsZX...           ['nature']  ...    0.873    0.000    0.5859  0.463471  0.849285      True      True      True  1.000000  0.000000
a4a06c9fdd6fb2997ab54c6175ba21ebb885f3a3  Omar Sharif: Top Secret! director David Zucker...  https://news.google.com/rss/articles/CBMiTmh0d...  2015-07-10                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-07  CBMiTmh0dHBzOi8vZXcuY29tL2FydGljbGUvMjAxNS8wNy...               ['ew']  ...    0.743    0.000    0.8074  0.092316  0.652319      True      True      True  1.000000  0.000000
88a4e53276d36cc71d48eb8aeb7ae68a90b4b776  'Top Chef' recap: 'Getting Prickly in Mexico' ...  https://news.google.com/rss/articles/CBMiM2h0d...  2015-01-29                  https://ew.com    Entertainment Weekly News      TOP  2015    2015-01  CBMiM2h0dHBzOi8vZXcuY29tL3JlY2FwL3RvcC1jaGVmLX...               ['ew']  ...    0.693    0.139    0.2023  0.652796  0.735114      True      True      True  1.000000  0.000000
b43d7f4ecc15f957cd93a33f25e90b4e4f1340c6  Bernie Sanders is right: The top 0.1 percent h...  https://news.google.com/rss/articles/CBMieWh0d...  2015-11-19  https://www.washingtonpost.com          The Washington Post      TOP  2015    2015-11  CBMieWh0dHBzOi8vd3d3Lndhc2hpbmd0b25wb3N0LmNvbS...   ['washingtonpost']  ...    0.569    0.000    0.9468  0.076294  0.719115      True      True      True  1.000000  0.000000
b752a7f06132a611daecb10aacd378a775d69c08  Jeremy Clarkson dropped from Top Gear, BBC con...  https://news.google.com/rss/articles/CBMiNGh0d...  2015-03-25             https://www.bbc.com                      BBC.com      TOP  2015    2015-03  CBMiNGh0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy9lbnRlcn...              ['bbc']  ...    0.592    0.151    0.3818  0.573998  0.734424      True      True      True  1.000000  0.000000
12f1f4a1b0718f48db12e3f3a85d62e93cc646df  ‘Top Chef’ Season 13 Episode 3: Sudden Death a...  https://news.google.com/rss/articles/CBMiVmh0d...  2015-12-11           https://www.eater.com                        Eater      TOP  2015    2015-12  CBMiVmh0dHBzOi8vd3d3LmVhdGVyLmNvbS8yMDE1LzEyLz...            ['eater']  ...    0.623    0.221   -0.5106  0.356190  0.709819      True     False      True  0.666667  0.333333
6193823459332846a0c9e111d07abdef7da0927a  Public Notification: Tip-Top Shape contains hi...  https://news.google.com/rss/articles/CBMic2h0d...  2015-10-23             https://www.fda.gov                      FDA.gov      TOP  2015    2015-10  CBMic2h0dHBzOi8vd3d3LmZkYS5nb3YvZHJ1Z3MvbWVkaW...              ['fda']  ...    0.935    0.000    0.2023  0.343900  0.853235     False      True      True  0.666667  0.333333
084332b02d56493ab307bd5646827f2d12b49618  Climber: Life Is Tough on the Top of the World...  https://news.google.com/rss/articles/CBMiM2h0d...  2015-05-05                https://time.com                         TIME      TOP  2015    2015-05  CBMiM2h0dHBzOi8vdGltZS5jb20vMzg0MDE0Mi9jbGltYm...             ['time']  ...    0.821    0.112   -0.0516  0.599447  0.679168      True     False      True  0.666667  0.333333
e0da62344fdcbdea3f62fe3f11f6481180590833  Cluster of Concerns Vie for Top U.S. Problem i...  https://news.google.com/rss/articles/CBMiTmh0d...  2015-01-02         https://news.gallup.com                       Gallup      TOP  2015    2015-01  CBMiTmh0dHBzOi8vbmV3cy5nYWxsdXAuY29tL3BvbGwvMT...   ['news', 'gallup']  ...    0.653    0.285   -0.7579  0.783302  0.699987      True     False     False  0.333333  0.666667
aa3eb66354cc87f66622e35ff7c7da4adce38aeb  Trump, Clinton and the Top 10 political storie...  https://news.google.com/rss/articles/CBMiWmh0d...  2015-12-28             https://www.pbs.org                 PBS NewsHour      TOP  2015    2015-12  CBMiWmh0dHBzOi8vd3d3LnBicy5vcmcvbmV3c2hvdXIvbm...              ['pbs']  ...    0.868    0.000    0.2263  0.189871  0.879189      True      True      True  1.000000  0.000000
a63131b38deed4330712991558b601d661d9d4b4  WMU's hometown, Kalamazoo, named one of nation...  https://news.google.com/rss/articles/CBMiJGh0d...  2015-12-24               https://wmich.edu                     WMU News      TOP  2015    2015-12  CBMiJGh0dHBzOi8vd21pY2guZWR1L25ld3MvMjAxNS8xMi...            ['wmich']  ...    0.938    0.000    0.2023  0.074362  0.848243      True      True      True  1.000000  0.000000
58bd46cf82876bc7a242925725ffae9816cc5de3  Airman revamps F-16 munitions tracking, wins t...  https://news.google.com/rss/articles/CBMibWh0d...  2015-05-06              https://www.af.mil               Air Force Link      TOP  2015    2015-05  CBMibWh0dHBzOi8vd3d3LmFmLm1pbC9OZXdzL0FydGljbG...               ['af']  ...    0.529    0.000    0.9618  0.075422  0.845810      True      True      True  1.000000  0.000000
e4f595644285f0c6ba1e41ae7e83b77ee6d27525  Cadet earns top Civil Air Patrol honor > Air F...  https://news.google.com/rss/articles/CBMiXmh0d...  2015-11-09              https://www.af.mil               Air Force Link      TOP  2015    2015-11  CBMiXmh0dHBzOi8vd3d3LmFmLm1pbC9OZXdzL0FydGljbG...               ['af']  ...    0.653    0.000    0.8934  0.046732  0.759491      True      True      True  1.000000  0.000000
a999a4413e292ce667360db24500b045c9f281b9  A Top Stylist on the Appeal of 'Burner' Fashio...  https://news.google.com/rss/articles/CBMiT2h0d...  2015-03-27          https://www.thecut.com                      The Cut      TOP  2015    2015-03  CBMiT2h0dHBzOi8vd3d3LnRoZWN1dC5jb20vMjAxNS8wMy...           ['thecut']  ...    0.855    0.078   -0.0772  0.058294  0.840388      True     False      True  0.666667  0.333333
516162d613dfc3a4b17074b9584431f012537121  What it's like to top banned book lists around...  https://news.google.com/rss/articles/CBMiZ2h0d...  2015-08-31     https://www.theguardian.com                 The Guardian      TOP  2015    2015-08  CBMiZ2h0dHBzOi8vd3d3LnRoZWd1YXJkaWFuLmNvbS9jaG...      ['theguardian']  ...    0.691    0.180   -0.4019  0.804564  0.628937      True     False     False  0.333333  0.666667
75cbe3acbaa2c7a33ece9b8faa227ced95bb70bb  College of Medicine top 10 producer of family ...  https://news.google.com/rss/articles/CBMibmh0d...  2015-05-05            https://news.fsu.edu           Florida State News      TOP  2015    2015-05  CBMibmh0dHBzOi8vbmV3cy5mc3UuZWR1L25ld3MvaGVhbH...      ['news', 'fsu']  ...    0.800    0.000    0.6124  0.089205  0.881618      True      True      True  1.000000  0.000000
aea004ba640d2a0162050d76071b33ed7764d05d  FAU High Student Named 'America's Top Young Sc...  https://news.google.com/rss/articles/CBMiPWh0d...  2015-10-14             https://www.fau.edu  Florida Atlantic University      TOP  2015    2015-10  CBMiPWh0dHBzOi8vd3d3LmZhdS5lZHUvbmV3c2Rlc2svYX...              ['fau']  ...    0.886    0.000    0.2732  0.084764  0.863229      True      True      True  1.000000  0.000000
e0e4c274db5c4d6fae63aad8af877cf232bbb7ec  Temple University's entrepreneurship programs ...  https://news.google.com/rss/articles/CBMiRWh0d...  2015-11-09         https://news.temple.edu       Temple University News      TOP  2015    2015-11  CBMiRWh0dHBzOi8vbmV3cy50ZW1wbGUuZWR1L25ld3MvMj...   ['news', 'temple']  ...    0.845    0.000    0.5267  0.049525  0.850461      True      True      True  1.000000  0.000000

[46 rows x 107 columns]

In [7]:
df_gen = generateDimReducedDF(3,True,[True,True,True,True])

Input dataframe shape : (46, 44)

MergeError: Passing 'suffixes' which cause duplicate columns {'0_tsne_l', '1_tsne_l', '2_tsne_l'} is not allowed.

In [ ]:
# df_join1 = openDFcsv(mv.join1_path,mv.join1_filename)
# df_embdedding = openDFcsv(mv.embdedding_path,mv.embdedding_filename)
# df = openDFcsv(mv.keyword_path,mv.keyword_filename)

# df = openDFcsv(mv.join2_path,mv.join2_filename)

In [ ]:
df = openDFcsv(mv.join2_path,mv.join2_filename)
val1 = len(list(df.keys()))
print(val1)
rename_dict = {"hash_key":"Primary Key", "title_quer":"Main Title","link":"Google Link","published":"Date Publication","source_url":"Real Link","source_title":"Name of the source","category":"Main Category","year":"Year","year_month":"Year & Month", "url_TLD":"url_extention","keywords_list":"List Of Keywords","tb.sent":"Number of sentences","tb.noun":"Number of Nouns","tb.word":"Number of Words","tb.char":"Number of Character","tb.pol":"Polarity","tb.sub":"Subjectivity","tb.polaj":"Polatity beetween 1-0","tb.pos":"Positivity_1","tb.neg":"Negativity_1","vs.pos":"Positivity_2","vs.neg":"Negativity_2","ts.pos":"Positivity_3","ts.neg":"Negativity_3","al.pos":"Positivity_all","al.neg":"Negativity_all"}
val2 = len(list(rename_dict.keys()))
print(val2)
# print(len(list(rename_dict.keys())))
# print(len(list(rename_dict.values())))
df = openDFcsv(mv.join2_path,mv.join2_filename)
df.rename(columns=rename_dict, inplace=True)
val3 = len(list(df.keys()))
print(val3)

In [ ]:
col_list = ["category","source_title","year_month","url_TLD","year"]
df_list_len = calculateStatsColList(df,col_list,"len",display_df=True)
df_list_npl = calculateStatsColList(df,col_list,"nlp",display_df=True,display_stats=False)

In [ ]:
# df = openDFcsv(mv.join1_path,mv.join1_filename)
# genrateKeywordExtract(df, 9641,500,"keywords_list")
#df = mainKhttp://localhost:8888/notebooks/OneDrive/Desktop/Article_LLM/main_codebase/MAIN_CODE.ipynb#eywordWF(9641,1000)

In [ ]:
# df = openDFcsv(mv.query_path,mv.query_filename)
# df3 = selectOnDf(df2,"","")
# plotDFstatisticsQuerry(df,70)
# displayStats(df)
# saveDFcsv(df3,mv.query_path,mv.query_filename)



# df = loop_scraping(9,'1999-03-27','2024-03-19',sampling_1=5,sampling_2=5,save_steps=True,save_final=True,display=True)
# plotDFstatisticsQuerry(df,70)
# displayStats(df)

# df = openDFcsv(mv.query_path,mv.query_filename)
# df2 =  filterQuerryDataset(df,150,10,True,True,True)
# plotDFstatisticsQuerry(df2,70,True)
# displayStats(df2)

# df = openDFcsv(mv.query_path,mv.query_filename)
df_querry = readArticleFileTable(index_from=0,index_to=200,save_articles=False,save_final=True,save_steps=True,display_df=True,step_pct=0.01,add_nlp=2,filtered_input_df=True)
# df_join = joinQuerryAndParse(save=True,remove_invalid=True,display=True,filtered_input_df=True)# df_embd = mainGeneration(True,False,100,99999999,7500,9999,True,True,True,0.005)
# emb_mat = extractEmbeddingFromFile(9999999999)
# df_key = mainKeywordWF(99999999999999,1000)
# df_final = mainJoinOut()

In [ ]:
# df = openDFcsv(mv.query_path,mv.query_filename)
# df3 = selectOnDf(df2,"","")
# plotDFstatisticsQuerry(df,70)
# displayStats(df)
# saveDFcsv(df3,mv.query_path,mv.query_filename)


max_num = 10000000
step_pct=0.005
df = loop_scraping(9,'2000-01-01','2024-01-01',sampling_1=5,sampling_2=5,save_steps=True,save_final=True,display=True)
df2 =  filterQuerryDataset(df,150,10,True,True,True)
df_querry = readArticleFileTable(index_from=0,index_to=max_num,save_articles=True,save_final=True,save_steps=True,display_df=True,step_pct=step_pct,add_nlp=2,filtered_input_df=True)
df_join = joinQuerryAndParse(save=True,remove_invalid=True,display=True,filtered_input_df=True)
df_embd = mainGeneration(True,False,10,max_num,7500,1000,True,True,True,step_pct)
emb_mat = extractEmbeddingFromFile(max_num)
df_key = mainKeywordWF(max_num,100)
df_final = mainJoinOut()

In [ ]:
df = loop_scraping(9,'2000-01-01','2024-01-01',sampling_1=1,sampling_2=1,save_steps=True,save_final=True,display=True)

In [ ]:
df = openDFcsv(mv.join1_path,mv.join1_filename)
# col_list = ["category"] #,"url_TLD" #,"source_title","year_month",
# col_list = ["published"]
col_list = ["category","year","source_title","year_month"]#
df_list1 = calculateStatsColList(df,col_list,"len",display_df=True)
df_list2 = calculateStatsColList(df,col_list,"nlp",display_df=True,display_stats=True) #,out_raw=False

In [ ]:
import matplotlib.pyplot as plt
for i in range(len(col_list)) :
    col_agg = col_list[i]
    table = df_list2[i]
    table.plot(kind='bar')
    plot = df_list[2].plot.barh(y='polarity_per_count',use_index=True, legend=True, fontsize= 8, title="test") #, figsize=(5, 5) #,ax=axes[0],ay=axes[0], ylabel=""

In [ ]:
# fig, axes = plt.subplots(nrows=1, ncols=1, figsize=(5, 5))
# df_list[0].ix[5].plot(kind='bar'); plt.axhline(0, color='k')

In [ ]:
import plotly.express as px

fig = px.line(df_list2[1], x=df_list2[1].index, y="count") #, color='country'
fig.show()
fig = px.line(df_list2[1], x=df_list2[1].index, y="polarity_per_count") #, color='country'
fig.show()
fig = px.line(df_list2[1], x=df_list2[1].index, y="positivity_per_count") #, color='country'
fig.show()
fig = px.line(df_list2[1], x=df_list2[1].index, y="negativity_per_count") #, color='country'
fig.show()

In [ ]:
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

app = Dash(__name__)


app.layout = html.Div([
    html.H4('Life expentancy progression of countries per continents'),
    dcc.Graph(id="graph"),
    dcc.Checklist(
        id="checklist",
        options=["Asia", "Europe", "Africa","Americas","Oceania"],
        value=["Americas", "Oceania"],
        inline=True
    ),
])


@app.callback(
    Output("graph", "figure"), 
    Input("checklist", "value"))
def update_line_chart(continents):
    df = px.data.gapminder() # replace with your own data source
    mask = df.continent.isin(continents)
    fig = px.line(df[mask], 
        x="year", y="lifeExp", color='country')
    return fig


app.run_server(debug=True)

In [ ]:
d1 = {"d1":1}
d2 = {"d2":2}
d3 = d1|d2
print(d3)