### Imports

In [1]:
import main_var
env = "test/"
mv = main_var.main_var(env=env)

from article_scraping_lib import *
from openai_module_lib import *
from embedding_keyword_module_lib import *

IMPORT : main_var
IMPORT : utils_art
IMPORT : text_analysis
WARNING:tensorflow:From C:\Users\User\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

IMPORT : article_parsing_lib

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

IMPORT : article_scraping_lib
IMPORT : openai_module_lib

## Querring and saving artilce list

In [ ]:
df = loop_scraping(8,'2010-01-01','2024-01-01',sampling_1=12,sampling_2=3,save_steps=True,save_final=True,display=True)

#### Display Statistics

In [ ]:
df = openDFcsv(mv.query_path,"query_fileF")
plotDFstatisticsQuerry(df,70,True)
displayStats(df)

#### Filter articles with a source that is too/not enought scrapped and source/category/date

In [ ]:
df2 = filterQuerryDataset(df,400,30,True,False,True)
plotDFstatisticsQuerry(df2)
displayStats(df2)

In [ ]:
categroy_l = ["WORLD","NATION","BUSINESS","TECHNOLOGY"]
categroy_l = []
# source_l = ["The New York Times","The Nation","Business Insider","Business Insider"]
source_l = ["Newsweek","Yahoo Finance","ESPN","Fox News"]
source_l = ["World Health Organization (WHO)","Pew Research Center","The New York Times","Nature.com","Tax Foundation","Union of Concerned Scientists"]
df3 = selectOnDf(df2,date_start="2010-01-01", date_end="2024-01-01", categroy_list=categroy_l, source_list=source_l)
displayStats(df3)
saveDFcsv(df3,mv.query_path,"query_fileG_cap")

In [ ]:
df = readArticleFileTable(index_from=0,index_to=11064,save_articles=True,save_final=True,save_steps=True,display_df=True,step_pct=0.01,add_nlp=2,filtered_input_df=True)

In [ ]:
df = joinQuerryAndParse(save=True,remove_invalid=True,display=True,filtered_input_df=True)

In [ ]:
df2 = mainGeneration(True,False,50,1000,7500,9999)

In [ ]:
emb_mat = extractEmbeddingFromFile(999999999)

In [ ]:
genrateKeywordExtract(df, 20,50,"keywords_list")

In [2]:
mainJoin()

              0         1              2             3           4         5             6             7         8             9  ... 19 20 21 22 23 24 25 26 word_count                                      word_combined
0       academy    chosen          among        nation           s       top          best         value  colleges           air  ...                                 12  academy chosen among nation s top best value c...
1        voters      rate        economy            as         top     issue           for        gallup                          ...                                  8  voters rate economy as top issue for gallup   ...
2          eric    ripert             on         anger      issues       top          chef           and       the        theory  ...                                 13  eric ripert on anger issues top chef and the t...
3           top        of            the          pops         the       new        yorker                                        ...                                  7  top of the pops the new yorker                ...
4           top  enlisted         airman     addresses         key    cannon        issues        during     visit           air  ...                                 12  top enlisted airman addresses key cannon issue...
...         ...       ...            ...           ...         ...       ...           ...           ...       ...           ...  ... .. .. .. .. .. .. .. ..        ...                                                ...
9634    million    excess         deaths    associated        with       the         covid      pandemic        in           and  ...                                 14  million excess deaths associated with the covi...
9635    vaccine  efficacy  effectiveness           and  protection     world        health  organization       who                ...                                  9  vaccine efficacy effectiveness and protection ...
9636      world        no        tobacco           day     tobacco  industry  interference         world    health  organization  ...                                 11  world no tobacco day tobacco industry interfer...
9637  enhancing  response             to       omicron        sars       cov       variant         world    health  organization  ...                                 11  enhancing response to omicron sars cov variant...
9638      world   obesity            day  accelerating      action        to          stop       obesity     world        health  ...                                 12  world obesity day accelerating action to stop ...

[9639 rows x 29 columns]

        word_count
count  9639.000000
mean     11.580662
std       3.535094
min       2.000000
25%       9.000000
50%      11.000000
75%      14.000000
max      27.000000

             count
keyword
oval             1
regular          1
endures          1
boilermaker      1
default          1
...            ...
in            1865
s             2162
world         2349
of            2397
the           5433

[12038 rows x 1 columns]

Unique keywords : 12038   Sum of occurences : 111626   (9.27 avg)
Unique keywords : 473   Sum of occurences : 40851   (86.37 avg)
['student' 'off' 'birth' 'important' 'again' 'career' 'universities'
 'fight' 'book' 'he' 'developing' 'across' 'video' 'web' 'worst' 'race'
 'city' 'stop' 'using' 'would' 'kane' 'age' 'james' 'free' 'association'
 'partnership' 'some' 'case' 'talks' 'want' 'dod' 'facebook' 'meet' 'm'
 'against' 'survey' 'online' 'gun' 'problems' 'honors' 'leads' 'nfl'
 'south' 'march' 'wins' 'huffpost' 'religion' 'emerging' 'under' 'design'
 'interview' 'worldwide' 'watch' 'concerned' 'names' 'trust' 'see' 'think'
 'great' 'football' 'obama' 'right' 'fans' 'makes' 'intelligence' 'bad'
 'part' 'story' 'cup' 'save' 'society' 'cost' 'outlook' 'denver' 're'
 'researchers' 'space' 'guide' 'sustainable' 'young' 'take' 'show' 'must'
 'series' 'internet' 'greatest' 'beyond' 'there' 'leadership' 'cities'
 'really' 'money' 'love' 'kids' 'dan' 'board' 'united' 'care' 'play'
 'phys' 'trends' 'transcript' 'repository' 'diversity' 'eater' 'canton'
 'biggest' 'every' 'say' 'tribune' 'access' 'eia' 'nations' 'union'
 'behind' 'company' 'poverty' 'long' 'investor' 'art' 'inside' 'improve'
 'girls' 'relations' 'family' 'being' 'institutes' 'wine' 'water' 'too'
 'making' 'associated' 'growing' 'risk' 'spotlight' 'if' 'stars' 'c'
 'wildlife' 'changed' 'plan' 'learning' 'five' 'crisis' 'gender' 'support'
 'press' 'three' 'building' 'facts' 'd' 'men' 'next' 'real' 'children'
 'list' 'blog' 'ranked' 'largest' 'psychology' 'role' 'way' 'africa'
 'shows' 'services' 'two' 'black' 'th' 'during' 'rankings' 'many'
 'engineering' 'laboratory' 'sloan' 'rise' 'navajo' 'mental' 'team'
 'athletes' 'teams' 'action' 'programs' 'stories' 'ever' 'issues' 'star'
 'uc' 'abc' 'does' 'where' 'ii' 'ways' 'tv' 'vox' 'they' 'without' 'look'
 'lead' 'country' 'problem' 'model' 'value' 'open' 'journal' 'back'
 'youth' 'bcg' 'argonne' 'changing' 'through' 'may' 'exclusive' 'views'
 'launches' 'population' 'coronavirus' 'don' 'human' 'week' 'so' 'episode'
 'award' 'pandemic' 'end' 'like' 'much' 'amazon' 'choctaw' 'other' 'aws'
 'francisco' 'home' 'florida' 'athletics' 'his' 'policy' 'law' 'president'
 'leaders' 'my' 'just' 'schools' 'good' 'was' 'states' 'jobs' 'nih' 'get'
 'help' 'live' 'boulder' 'trump' 'things' 'industry' 'san' 'know' 'or'
 'billion' 'program' 'when' 'slate' 'innovation' 'recap' 'colorado'
 'director' 'announces' 'still' 'make' 'companies' 'key' 'vanderbilt'
 'hbs' 'power' 'here' 'ai' 'article' 'around' 'matters' 'stanford'
 'businesses' 'display' 'impact' 'named' 'down' 'technologies' 'china'
 'opinion' 'microsoft' 'countries' 'information' 'now' 'oceanic' 'texas'
 'unesco' 'students' 'progress' 'atmospheric' 'game' 'million' 'into'
 'tax' 'accountability' 'after' 'growth' 'says' 'baylor' 'newshour'
 'institution' 'utsa' 'pbs' 'their' 'high' 'better' 'season' 'yorker'
 'bureau' 'strategy' 'conversation' 'social' 'management' 'economy' 'nsf'
 'could' 'cnbc' 'but' 'this' 'use' 'study' 'usda' 'development' 'tech'
 'work' 'monetary' 'usa' 'its' 'over' 'census' 'no' 'espn' 'out' 'need'
 'aaas' 'public' 'education' 'sport' 'face' 'administration' 'media'
 'newswire' 'pr' 'should' 'reporter' 'digital' 'purdue' 'ncaa' 'edu'
 'food' 'bbc' 'years' 'college' 'small' 'caesars' 'life' 'up' 'office'
 'big' 'among' 'service' 'war' 'wired' 'gallup' 'atlantic' 'i' 'park'
 'government' 'hollywood' 'scientific' 'america' 'than' 'chef' 'day' 'has'
 'elon' 'one' 'department' 'international' 'fund' 'defense' 'variety' 'do'
 'americans' 'bleacher' 'change' 'covid' 'year' 'have' 'all' 'climate'
 'future' 'state' 'not' 'people' 'will' 'ucf' 'first' 'school'
 'illustrated' 'nasa' 'brookings' 'gazette' 'our' 'you' 'your' 'us' 'best'
 'scientists' 'we' 'be' 'time' 'cbs' 'energy' 'an' 'cnn' 'data' 'link'
 'published' 'can' 'forum' 'that' 'mckinsey' 'gov' 'harvard' 'women' 't'
 'most' 'more' 'history' 'mit' 'american' 'about' 'review' 'by' 'economic'
 'from' 'foundation' 'it' 'what' 'university' 'as' 'today' 'guardian'
 'washington' 'force' 'are' 'global' 'air' 'report' 'why' 'post' 'hbr'
 'insider' 'daily' 'group' 'pew' 'with' 'at' 'weekly' 'organization'
 'times' 'york' 'nature' 'center' 'u']

                 0         1        2             3           4      5 6  7  8  9  10 11 12 13  word_count                                      word_combined
0             link     force    value         among         air   best                                   6            link force value among air best
1           gallup        as  economy                                                                    3                       gallup as economy
2            eater    issues     chef                                                                    3                       eater issues chef
3           yorker                                                                                       1                                yorker
4             link     force   during        issues         air    key                                   6           link force during issues air key
...            ...       ...      ...           ...         ...    ... .. .. .. .. .. .. .. ..         ...                                                ...
9634      pandemic      with  million  organization  associated  covid                                   6  pandemic with million organization associated ...
9635  organization                                                                                       1                          organization
9636            no  industry      day  organization                                                      4             no industry day organization
9637  organization                                                                                       1                          organization
9638           day      stop   action  organization                                                      4             day stop action organization

[9639 rows x 16 columns]

        word_count
count  9639.000000
mean      4.025314
std       2.027663
min       0.000000
25%       3.000000
50%       4.000000
75%       5.000000
max      14.000000
0_f                object
1_f                object
2_f                object
3_f                object
4_f                object
5_f                object
6_f                object
7_f                object
8_f                object
9_f                object
10_f               object
11_f               object
12_f               object
13_f               object
14                 object
15                 object
16                 object
17                 object
18                 object
19                 object
20                 object
21                 object
22                 object
23                 object
24                 object
25                 object
26                 object
word_count_f        int64
word_combined_f    object
0_s                object
1_s                object
2_s                object
3_s                object
4_s                object
5_s                object
6_s                object
7_s                object
8_s                object
9_s                object
10_s               object
11_s               object
12_s               object
13_s               object
word_count_s        int64
word_combined_s    object
dtype: object

              0           1            2          3             4             5           6           7          8              9  ...          13        14 15 16 17 18 19 20 word_count                                      word_combined
0     financial     nations     students  princeton        review        chosen     college         air       best      bestvalue  ...                                                 13  financial nations students princeton review ch...
1       deficit       issue         vote  important    republican           say  healthcare  democratic       rate        economy  ...                                                 11  deficit issue vote important republican say he...
2          eric        dont         tell     theory        issues         anger       angry          le         im      expensive  ...       going      chef                           15  eric dont tell theory issues anger angry le im...
3          andy        pops         soup        art          york          work     factory     gallery    warhols           life  ...                                                 11  andy pops soup art york work factory gallery w...
4        airmen       force          roy    working         chief         visit         air      issues   enlisted         cannon  ...     housing   leaders                           15  airmen force roy working chief visit air issue...
...         ...         ...          ...        ...           ...           ...         ...         ...        ...            ...  ...         ...       ... .. .. .. .. .. ..        ...                                                ...
9634  countries     million       excess  mortality          data     estimates  associated      deaths    systems          covid  ...                                                 12  countries million excess mortality data estima...
9635    vaccine  vaccinated     vaccines       sick       getting    protection       group    variants   efficacy  effectiveness  ...                                                 11  vaccine vaccinated vaccines sick getting prote...
9636      world   countries      efforts   attempts      industry  interference      public      treaty  industrys            day  ...                                                 13  world countries efforts attempts industry inte...
9637    variant    response  significant       risk          high     including   infection    variants  technical        omicron  ...                                                 13  variant response significant risk high includi...
9638      world     million    countries       stop  accelerating       healthy     obesity      action      obese           need  ...  overweight  children                           15  world million countries stop accelerating heal...

[9639 rows x 23 columns]

        word_count
count  9639.000000
mean     13.486565
std       1.967837
min       4.000000
25%      12.000000
50%      13.000000
75%      15.000000
max      21.000000

            count
keyword
zoller          1
like            1
curves          1
wrights         1
irs             1
...           ...
research      859
business      952
science      1213
technology   1215
world        1884

[20281 rows x 1 columns]

Unique keywords : 20281   Sum of occurences : 129997   (6.41 avg)
Unique keywords : 493   Sum of occurences : 50875   (103.19 avg)
['cells' 'firms' 'emissions' 'response' 'words' 'track' 'microsoft'
 'coverage' 'florida' 'makes' 'executives' 'bad' 'athletic' 'fight' 'wall'
 'noaa' 'communities' 'changed' 'smart' 'challenges' 'statement' 'read'
 'oil' 'stars' 'poor' 'weather' 'talk' 'partners' 'challenge' 'according'
 'software' 'weeks' 'cancer' 'competition' 'respondents' 'needs' 'past'
 'institute' 'subscribers' 'living' 'amazon' 'works' 'newhbr' 'writing'
 'understanding' 'mens' 'chief' 'death' 'inside' 'violence' 'cases'
 'evidence' 'computer' 'cant' 'published' 'spending' 'solutions' 'second'
 'religion' 'papers' 'workplace' 'doing' 'defense' 'vaccine' 'culture'
 'participation' 'higher' 'navajo' 'progress' 'awards' 'thought'
 'property' 'bill' 'judges' 'biggest' 'c' 'changes' 'reduce' 'facts'
 'court' 'google' 'worked' 'costs' 'took' 'mission' 'models' 'paper'
 'devices' 'wrong' 'issue' 'long' 'free' 'carbon' 'revenue' 'mobile' 'ceo'
 'subscribe' 'old' 'opportunities' 'cup' 'mit' 'version' 'materials'
 'changing' 'launches' 'nasa' 'chinese' 'private' 'positive'
 'environmental' 'planet' 'investment' 'announces' 'san' 'urban' 'wrote'
 'wanted' 'control' 'corporate' 'understand' 'safety' 'land' 'purdue'
 'shes' 'obama' 'ii' 'record' 'earth' 'come' 'cost' 'title' 'religious'
 'north' 'whats' 'nature' 'pay' 'went' 'elon' 'professional' 'workforce'
 'trends' 'rates' 'rise' 'questions' 'website' 'exclusive' 'americas'
 'process' 'sales' 'sector' 'success' 'turn' 'place' 'resources' 'west'
 'official' 'worldwide' 'emerging' 'playing' 'local' 'th' 'nba'
 'potential' 'example' 'developing' 'total' 'design' 'faculty'
 'technological' 'results' 'stem' 'lead' 'owners' 'species' 'facebook'
 'didnt' 'ncaa' 'art' 'quality' 'cities' 'television' 'mr' 'virus' 'tools'
 'mental' 'coronavirus' 'marketing' 'soccer' 'talent' 'john' 'deal'
 'performance' 'diversity' 'm' 'view' 'increase' 'lives' 'page'
 'basketball' 'average' 'trade' 'funding' 'field' 'player' 'action'
 'patients' 'economies' 'case' 'brain' 'baseball' 'department' 'star'
 'organization' 'man' 'recap' 'region' 'disease' 'female' 'race' 'events'
 'improve' 'building' 'africa' 'teachers' 'studies' 'making' 'risks'
 'sciences' 'trust' 'problems' 'knowledge' 'foundation' 'groups' 'plan'
 'house' 'democrats' 'gazette' 'ucf' 'chefs' 'parents' 'open' 'rankings'
 'largest' 'universities' 'network' 'south' 'including' 'woman'
 'customers' 'natural' 'community' 's' 'ranked' 'strategy' 'end'
 'sustainable' 'won' 'leadership' 'thing' 'director' 'washington' 'crisis'
 'site' 'watch' 'age' 'experience' 'career' 'set' 'does' 'major'
 'organizations' 'members' 'lot' 'key' 'named' 'episode' 'products'
 'theyre' 'start' 'music' 'little' 'market' 'intelligence' 'different'
 'projects' 'gender' 'republicans' 'office' 'income' 'role' 'rate' 'look'
 'love' 'youth' 'tax' 'win' 'real' 'number' 'employees' 'job' 'rights'
 'men' 'girls' 'users' 'medical' 'production' 'federal' 'adults' 'content'
 'model' 'society' 'kids' 'issues' 'america' 'nfl' 'told' 'student' 'ai'
 'texas' 'poverty' 'professor' 'views' 'face' 'theres' 'center' 'family'
 'hes' 'military' 'award' 'problem' 'insider' 'access' 'great' 'impact'
 'financial' 'heres' 'innovation' 'important' 'city' 'list' 'ways' 'book'
 'money' 'china' 'project' 'security' 'learning' 'risk' 'live' 'park'
 'resume' 'shows' 'chef' 'black' 'league' 'nsf' 'leaders' 'engineering'
 'law' 'movie' 'week' 'review' 'better' 'political' 'fans' 'series'
 'internet' 'tech' 'tv' 'care' 'likely' 'jobs' 'space' 'programs' 'play'
 'video' 'small' 'right' 'today' 'force' 'harvard' 'billion' 'times'
 'international' 'football' 'womens' 'value' 'economy' 'film' 'pandemic'
 'sport' 'working' 'group' 'country' 'athletes' 'im' 'food' 'youre'
 'businesses' 'trump' 'young' 'management' 'workers' 'history' 'bank'
 'population' 'trusted' 'using' 'good' 'children' 'water' 'high' 'power'
 'systems' 'games' 'industry' 'players' 'white' 'courses' 'survey' 'human'
 'big' 'air' 'policy' 'help' 'covid' 'services' 'schools' 'system'
 'information' 'energy' 'researchers' 'day' 'service' 'used' 'future'
 'college' 'growth' 'study' 'things' 'online' 'americans' 'york' 'life'
 'dont' 'american' 'best' 'thats' 'education' 'season' 'going' 'media'
 'development' 'skills' 'teams' 'training' 'really' 'president' 'share'
 'know' 'war' 'program' 'technologies' 'economic' 'climate' 'support'
 'digital' 'change' 'game' 'company' 'scientific' 'need' 'united' 'report'
 'worlds' 'social' 'public' 'states' 'women' 'companies' 'say' 'state'
 'nations' 'way' 'million' 'scientists' 'think' 'school' 'team' 'national'
 'university' 'students' 'countries']

             0         1          2          3          4        5          6       7 8  9  10 11 12 13 14  word_count                                      word_combined
0      nations     force   students  financial        air  college       best  review                                8  nations force students financial air college b...
1          say      rate    economy  important      issue                                                            5         say rate economy important issue
2         know      dont     issues         im      going     chef                                                   6            know dont issues im going chef
3         york       art       life                                                                                  3                          york art life
4      leaders     force    working     issues        air      key      chief                                        7  leaders force working issues air key chief    ...
...        ...       ...        ...        ...        ...      ...        ...     ... .. .. .. .. .. .. ..         ...                                                ...
9634  pandemic   million    systems  countries      covid                                                            5  pandemic million systems countries covid      ...
9635   vaccine     group    disease                                                                                  3                  vaccine group disease
9636  industry    public        day    control  countries                                                            5    industry public day control countries
9637  response      high  including       risk                                                                       4            response high including risk
9638    action  children       need     adults    million      day  countries                                        7  action children need adults million day countr...

[9639 rows x 17 columns]

        word_count
count  9639.000000
mean      5.276688
std       2.269804
min       0.000000
25%       4.000000
50%       5.000000
75%       7.000000
max      15.000000
0_f                object
1_f                object
2_f                object
3_f                object
4_f                object
5_f                object
6_f                object
7_f                object
8_f                object
9_f                object
10_f               object
11_f               object
12_f               object
13_f               object
14_f               object
15                 object
16                 object
17                 object
18                 object
19                 object
20                 object
word_count_f        int64
word_combined_f    object
0_s                object
1_s                object
2_s                object
3_s                object
4_s                object
5_s                object
6_s                object
7_s                object
8_s                object
9_s                object
10_s               object
11_s               object
12_s               object
13_s               object
14_s               object
word_count_s        int64
word_combined_s    object
dtype: object
join1 col
title_quer        object
link              object
published         object
source_url        object
source_title      object
category          object
year               int64
year_month        object
pk                object
url_list          object
url_TLD           object
url               object
pk_p              object
publish_date     float64
title_par         object
authors           object
valid               bool
text_len         float64
keywords_list     object
tb.sent          float64
tb.noun          float64
tb.word          float64
tb.char          float64
tb.pol           float64
tb.sub           float64
tb.polaj         float64
tb.pos           float64
tb.neg           float64
pos1             float64
neu1             float64
neg1             float64
vs.comp          float64
ts.pos           float64
ts.neg           float64
dtype: object
9639
embdedding col
o_id                    object
i_role                  object
i_model                 object
i_temperature          float64
i_token_max              int64
i_frequency_penalty      int64
i_presence_penalty       int64
o_created                int64
i_content               object
o_content               object
o_token_output           int64
o_token_input            int64
o_token_total            int64
valid                  float64
dtype: object
100
keyword col
Unnamed: 0             int64
title_quer            object
link                  object
published             object
source_url            object
source_title          object
category              object
year                   int64
year_month            object
pk                    object
url_list              object
url_TLD               object
url                   object
pk_p                  object
publish_date         float64
title_par             object
authors               object
valid                   bool
text_len             float64
keywords_list         object
tb.sent              float64
tb.noun              float64
tb.word              float64
tb.char              float64
tb.pol               float64
tb.sub               float64
tb.polaj             float64
tb.pos               float64
tb.neg               float64
pos1                 float64
neu1                 float64
neg1                 float64
vs.comp              float64
ts.pos               float64
ts.neg               float64
word_count_f_t         int64
word_combined_f_t     object
word_count_f_k         int64
word_combined_f_k     object
word_count_s_t         int64
word_combined_s_t     object
word_count_s_k         int64
word_combined_s_k     object
word_combined_all     object
word_count_all         int64
dtype: object
9639
out :  C:/Users/User/OneDrive/Desktop/Article_LLM/main_files/3_1_join_main/test/ join2_file

In [ ]:
col_list = ["category","source_title","year_month","url_TLD","year"]
df_list_len = calculateStatsColList(df,col_list,"len",display_df=True)
df_list_npl = calculateStatsColList(df,col_list,"nlp",display_df=True,display_stats=False)

In [ ]:
print(df2.dtypes)

In [ ]:
mainJoin()