In [2]:
import main_var
mv = main_var.main_var()
from dimension_reduc_lib import calculateStatsColList
from visualization_module_lib import *
from utils_art import *

# from scrap_lib import *
# from pars_lib import *
# from openai_module_lib import *
# from embedding_keyword_module_lib import *
# from dimension_reduc_lib import *
# from agg_lib import *


_ENTRY_NUMBER = 1000000
_STEP_PCT = 0.01
graph_folder = "graphs/"

# # ============= PX plots
# df_main = openDFcsv(mv.visu_path,"visu_file_['year', 'category']")
# df_main.head()
# # df_main = openDFcsv(mv.join2_path,mv.join2_filename)
# _2dList_out, _3dList_out = getRenderLists()
# print(_2dList_out)
# plt_2dList = renderAllOptions(df_main,_2dList_out)
# plt_3dList = renderAllOptions(df_main,_3dList_out)
# savePlotList(plt_2dList,mv.visu_path,"2D_xxx")
# savePlotList(plt_3dList,mv.visu_path,"3D_xxx")

# ============= Keywords
# df_main = openDFcsv(mv.join2_path,mv.join2_filename)
# display(df_main.head(3))
# print(df_main.shape)
# #df_main["word_combined_all"].str.split(expand=True)
# df_group = df_main[["category","word_combined_all"]].groupby("category").sum()
# df_group["wca_save"]=df_group["word_combined_all"]
# df_group["len"] = df_group["word_combined_all"].str.len()
# print(df_group.shape)
# display(df_group)
# out = df_group["word_combined_all"].str.split(expand=True)
# out = out.reset_index()
# print(out.shape)
# display(out)
# out2 = out.pivot()#index='foo',, values='baz' columns='category'
# print(out2.shape)
# display(out2)

# ============= MAT Plots
df_main = openDFcsv(mv.join2_path,mv.join2_filename)
#agg_list = ["category","year","source_title",["year","category"],["year","source_title"]]#,["year","category"],["year","source_title"]]
agg_list = ["year_month",["year_month","category"],["year_month","source_title"],"tb.class","vs.class","ts.class"]#["year","category"],["year","source_title"]]#,["year","category"],["year","source_title"]]
#field_list = [False,True,False,True,True]#,["year","category"],["year","source_title"]
df_list=calculateStatsColList(df_main,agg_list,display_df=True,display_stats=True,out_raw=False,save=True)
# count = 0
# for agg in agg_list :
#     df_main = openDFcsv(mv.visu_path,mv.visu_filename+"_"+str(agg))
#     if type(agg)!=type([]) :
#         fig = displayCatStats(df_main,agg,display_col_bar=field_list[count])##
#         fig.savefig(mv.visu_path+graph_folder+mv.visu_filename+"_"+agg+".png")
#     else :
#         filter_list = list(set(df_main[agg[1]].tolist()))
#         print(filter_list)
#         for filter_val in filter_list :
#             fig = displayCatStats(df_main,agg,agg[1],filter_val,display_col_bar=field_list[count])##
#             fig.savefig(mv.visu_path+graph_folder+mv.visu_filename+"_"+str(agg)+"_"+str(filter_val)+".png")
#     count = count +1

Dataframe Statistics Length Column :'year_month'

,tb.char,tb.sent,tb.noun,tb.word,count,tb.char_ps,tb.noun_ps,tb.word_ps,tb.char_pw,tb.char_pa,tb.sent_pa,tb.noun_pa,tb.word_pa
year_month,,,,,,,,,,,,,
2010-10,3139094.0,25117.0,75534.0,534692.0,812.0,124.978859,3.007286,21.288052,5.870845,3865.879310,30.932266,93.022167,658.487685
2011-01,3307325.0,25372.0,79204.0,559738.0,835.0,130.353342,3.121709,22.061249,5.908702,3960.868263,30.385629,94.855090,670.344910
2011-03,3458545.0,27927.0,85804.0,592479.0,866.0,123.842339,3.072439,21.215276,5.837414,3993.700924,32.248268,99.080831,684.155889
2011-04,3400913.0,26549.0,82676.0,585341.0,805.0,128.099476,3.114091,22.047572,5.810140,4224.736646,32.980124,102.703106,727.131677
2011-05,3795871.0,30230.0,90170.0,651515.0,880.0,125.566358,2.982799,21.551935,5.826222,4313.489773,34.352273,102.465909,740.357955
2011-06,3255510.0,25472.0,78981.0,556155.0,832.0,127.807396,3.100699,21.833975,5.853602,3912.872596,30.615385,94.929087,668.455529
2011-07,2893587.0,22324.0,68772.0,491731.0,802.0,129.617766,3.080631,22.027011,5.884492,3607.963840,27.835411,85.750623,613.130923
2011-08,3410544.0,27803.0,84075.0,580953.0,852.0,122.668201,3.023954,20.895335,5.870602,4002.985915,32.632629,98.679577,681.869718
2011-09,3762751.0,29086.0,90562.0,640185.0,836.0,129.366396,3.113594,22.010074,5.877599,4500.898325,34.791866,108.327751,765.771531
2011-10,3700008.0,29170.0,89543.0,630205.0,805.0,126.842921,3.069695,21.604559,5.871118,4596.283230,36.236025,111.233540,782.863354
2012-08,3289224.0,25487.0,79843.0,560233.0,794.0,129.054969,3.132695,21.981128,5.871171,4142.599496,32.099496,100.557935,705.583123
2013-01,3443660.0,27610.0,83332.0,589575.0,785.0,124.725100,3.018182,21.353676,5.840919,4386.828025,35.171975,106.155414,751.050955
2014-01,4271462.0,33008.0,107676.0,723426.0,790.0,129.406871,3.262118,21.916687,5.904491,5406.913924,41.782278,136.298734,915.729114
2014-03,3761673.0,28602.0,91177.0,637497.0,789.0,131.517831,3.187784,22.288546,5.900691,4767.646388,36.250951,115.560203,807.980989
2014-06,4184971.0,32588.0,101078.0,712524.0,805.0,128.420615,3.101694,21.864613,5.873446,5198.721739,40.481988,125.562733,885.122981

Dataframe Statistics NLP Column :'year_month'

,tb.pol,tb.sub,tb.pos,tb.neg,vs.pos,vs.neu,vs.neg,vs.comp,ts.pos,ts.neu,...,0_tsne_aj,1_tsne_aj,2_tsne_aj,0_pca_aj,1_pca_aj,2_pca_aj,0_ipca_aj,1_ipca_aj,2_ipca_aj,count
year_month,,,,,,,,,,,,,,,,,,,,,
2010-10,0.098616,0.378682,0.725317,0.274683,0.092559,0.862746,0.044698,0.167436,0.268120,0.563507,...,1.000000,0.369962,0.141915,0.846805,0.357407,0.340766,0.846080,0.384325,0.684434,812
2011-01,0.099724,0.376987,0.727295,0.272705,0.096083,0.862547,0.041369,0.184530,0.266028,0.570712,...,0.778285,0.530344,0.188794,0.624406,0.759516,0.000000,0.625253,0.726620,0.989205,835
2011-03,0.094773,0.371862,0.723999,0.276001,0.092474,0.863309,0.044217,0.161194,0.253708,0.579388,...,0.736297,0.289282,0.220289,0.839597,0.784184,0.157502,0.839938,0.803462,0.848080,866
2011-04,0.101114,0.379167,0.722891,0.277109,0.093023,0.864410,0.042568,0.172166,0.263830,0.568963,...,0.930664,0.183607,0.409105,1.000000,0.483677,0.442671,1.000000,0.504130,0.561915,805
2011-05,0.099377,0.373722,0.731472,0.268528,0.091776,0.862732,0.045489,0.162293,0.264201,0.564820,...,0.857667,0.541945,1.000000,0.869132,0.586844,0.483419,0.868388,0.586995,0.516096,880
2011-06,0.105677,0.377434,0.729490,0.270510,0.096258,0.861789,0.041952,0.184025,0.267931,0.565268,...,0.562755,0.641135,0.229927,0.611169,0.767718,0.380514,0.610510,0.745362,0.630222,832
2011-07,0.101974,0.384642,0.731572,0.268428,0.094538,0.861502,0.043957,0.171892,0.262185,0.569071,...,0.431671,0.884911,0.636380,0.649228,1.000000,0.013702,0.648569,1.000000,1.000000,802
2011-08,0.094899,0.379726,0.725478,0.274522,0.092318,0.862238,0.045443,0.160989,0.261186,0.571854,...,0.865247,0.192730,0.000000,0.561344,0.804332,0.117653,0.561588,0.778203,0.901527,852
2011-09,0.099392,0.379705,0.731439,0.268561,0.091839,0.863510,0.044654,0.162595,0.259062,0.569046,...,0.488004,0.587505,0.265577,0.548593,0.649879,0.466250,0.548069,0.653030,0.543498,836
2011-10,0.101267,0.384120,0.744120,0.255880,0.098488,0.855478,0.046032,0.176288,0.279895,0.556007,...,0.578318,0.058309,0.673169,0.437188,0.110103,1.000000,0.436316,0.144566,0.000000,805
2012-08,0.098955,0.372353,0.745635,0.254365,0.092264,0.867023,0.040717,0.173567,0.267642,0.573826,...,0.000000,0.067686,0.368254,0.494105,0.349016,0.674662,0.493200,0.403016,0.350719,794
2013-01,0.102406,0.370514,0.733582,0.266418,0.094357,0.861610,0.044036,0.167504,0.267483,0.569109,...,0.653092,0.323826,0.226403,0.451597,0.261252,0.886246,0.450762,0.278316,0.107038,785
2014-01,0.101917,0.375966,0.751291,0.248709,0.092518,0.864139,0.043346,0.170790,0.259654,0.574035,...,0.349925,0.344979,0.712753,0.000000,0.362922,0.612574,0.000000,0.376232,0.348294,790
2014-03,0.106161,0.361238,0.748640,0.251360,0.092924,0.867543,0.039535,0.180549,0.263295,0.574424,...,0.583359,0.000000,0.769848,0.016296,0.000000,0.416046,0.016212,0.000000,0.537093,789
2014-06,0.101435,0.366075,0.744786,0.255214,0.094802,0.862432,0.042759,0.166158,0.254672,0.577084,...,0.608030,1.000000,0.849168,0.036373,0.499123,0.706684,0.034825,0.482286,0.244636,805

Dataframe Statistics Length Column :'['year_month', 'category']'

                           tb.char  tb.sent  tb.noun  tb.word  count  \
year_month category
2010-01    BUSINESS       266328.0   2078.0   6302.0  44763.0   69.0
           ENTERTAINMENT  145864.0   1291.0   3805.0  26529.0   40.0
           HEALTH         462717.0   3834.0  11502.0  75510.0   91.0
           NATION         482085.0   3896.0  12161.0  83327.0   67.0
           SCIENCE        301282.0   2200.0   6892.0  49364.0   86.0
...                            ...      ...      ...      ...    ...
2023-12    SCIENCE        288224.0   2119.0   7241.0  45926.0   44.0
           SPORTS         415923.0   2942.0  11293.0  72442.0   57.0
           TECHNOLOGY     192294.0   1306.0   4762.0  30588.0   44.0
           TOP            326916.0   2824.0   9811.0  55442.0   46.0
           WORLD          377864.0   2890.0   8750.0  61136.0   75.0

                          tb.char_ps  tb.noun_ps  tb.word_ps  tb.char_pw  \
year_month category
2010-01    BUSINESS       128.165544    3.032724   21.541386    5.949735
           ENTERTAINMENT  112.985283    2.947328   20.549187    5.498285
           HEALTH         120.687793    3.000000   19.694836    6.127890
           NATION         123.738450    3.121407   21.387834    5.785460
           SCIENCE        136.946364    3.132727   22.438182    6.103274
...                              ...         ...         ...         ...
2023-12    SCIENCE        136.018877    3.417178   21.673431    6.275835
           SPORTS         141.374235    3.838545   24.623385    5.741462
           TECHNOLOGY     147.238897    3.646248   23.421133    6.286583
           TOP            115.763456    3.474150   19.632436    5.896541
           WORLD          130.748789    3.027682   21.154325    6.180712

                           tb.char_pa  tb.sent_pa  tb.noun_pa   tb.word_pa
year_month category
2010-01    BUSINESS       3859.826087   30.115942   91.333333   648.739130
           ENTERTAINMENT  3646.600000   32.275000   95.125000   663.225000
           HEALTH         5084.802198   42.131868  126.395604   829.780220
           NATION         7195.298507   58.149254  181.507463  1243.686567
           SCIENCE        3503.279070   25.581395   80.139535   574.000000
...                               ...         ...         ...          ...
2023-12    SCIENCE        6550.545455   48.159091  164.568182  1043.772727
           SPORTS         7296.894737   51.614035  198.122807  1270.912281
           TECHNOLOGY     4370.318182   29.681818  108.227273   695.181818
           TOP            7106.869565   61.391304  213.282609  1205.260870
           WORLD          5038.186667   38.533333  116.666667   815.146667

[1512 rows x 13 columns]

Dataframe Statistics NLP Column :'['year_month', 'category']'

                            tb.pol    tb.sub    tb.pos    tb.neg    vs.pos  \
year_month category
2010-01    BUSINESS       0.079480  0.335988  0.715895  0.284105  0.076052
           ENTERTAINMENT  0.114001  0.408750  0.709048  0.290952  0.107948
           HEALTH         0.081990  0.348515  0.745912  0.254088  0.084750
           NATION         0.072995  0.363427  0.744994  0.255006  0.087166
           SCIENCE        0.098373  0.350232  0.729617  0.270383  0.077527
...                            ...       ...       ...       ...       ...
2023-12    SCIENCE        0.119175  0.360083  0.795601  0.204399  0.099810
           SPORTS         0.099049  0.357172  0.697674  0.302326  0.087514
           TECHNOLOGY     0.081014  0.388633  0.790890  0.209110  0.100808
           TOP            0.118721  0.346804  0.723246  0.276754  0.101716
           WORLD          0.088325  0.354122  0.811607  0.188393  0.096071

                            vs.neu    vs.neg   vs.comp    ts.pos    ts.neu  \
year_month category
2010-01    BUSINESS       0.878127  0.045821  0.106546  0.201804  0.591636
           ENTERTAINMENT  0.848795  0.043248  0.235278  0.332417  0.498469
           HEALTH         0.856491  0.058772  0.102670  0.155626  0.600354
           NATION         0.848758  0.064067  0.078069  0.206737  0.560779
           SCIENCE        0.888974  0.033505  0.155822  0.225738  0.648093
...                            ...       ...       ...       ...       ...
2023-12    SCIENCE        0.874548  0.025658  0.257473  0.313334  0.580243
           SPORTS         0.880971  0.031523  0.203509  0.288993  0.595701
           TECHNOLOGY     0.867751  0.031416  0.221859  0.331566  0.536388
           TOP            0.871863  0.026424  0.250098  0.277351  0.632823
           WORLD          0.853900  0.050023  0.161626  0.230929  0.600554

                          ...  0_tsne_aj  1_tsne_aj  2_tsne_aj  0_pca_aj  \
year_month category       ...
2010-01    BUSINESS       ...   0.572289   0.303185   0.527776  0.546347
           ENTERTAINMENT  ...   0.836586   0.399229   0.721229  0.949150
           HEALTH         ...   0.145432   0.777437   0.380587  0.204932
           NATION         ...   0.519970   0.775278   0.498124  0.579717
           SCIENCE        ...   0.073113   0.148556   0.308578  0.295059
...                       ...        ...        ...        ...       ...
2023-12    SCIENCE        ...   0.073635   0.080447   0.416881  0.185828
           SPORTS         ...   0.838461   0.493362   0.153854  0.708927
           TECHNOLOGY     ...   0.300482   0.053791   0.556423  0.185944
           TOP            ...   0.530523   0.471513   0.185193  0.578886
           WORLD          ...   0.182644   0.535534   0.704148  0.214120

                          1_pca_aj  2_pca_aj  0_ipca_aj  1_ipca_aj  2_ipca_aj  \
year_month category
2010-01    BUSINESS       0.394688  0.512774   0.546083   0.351523   0.486244
           ENTERTAINMENT  0.462919  0.708889   0.948977   0.462665   0.292897
           HEALTH         0.957006  0.509239   0.204827   0.960903   0.524876
           NATION         0.734938  0.485264   0.579041   0.726685   0.506763
           SCIENCE        0.326923  0.610592   0.294212   0.365190   0.416151
...                            ...       ...        ...        ...        ...
2023-12    SCIENCE        0.168729  0.556186   0.185102   0.193895   0.439948
           SPORTS         0.693559  0.348897   0.708495   0.631173   0.634586
           TECHNOLOGY     0.149895  0.474448   0.185179   0.103707   0.520822
           TOP            0.531280  0.134770   0.578951   0.488241   0.850016
           WORLD          0.577767  0.219783   0.213735   0.558867   0.758309

                          count
year_month category
2010-01    BUSINESS          69
           ENTERTAINMENT     40
           HEALTH            91
           NATION            67
           SCIENCE           86
...                         ...
2023-12    SCIENCE           44
           SPORTS            57
           TECHNOLOGY        44
           TOP               46
           WORLD             75

[1512 rows x 71 columns]

Dataframe Statistics Length Column :'['year_month', 'source_title']'

                                             tb.char  tb.sent  tb.noun  \
year_month source_title
2010-01    Bleacher Report                  102253.0   1095.0   2688.0
           Business Insider                  34940.0    358.0    799.0
           CBS News                          49370.0    425.0    984.0
           CNN                              169505.0   1266.0   3743.0
           Entertainment Weekly News         73947.0    758.0   2035.0
...                                              ...      ...      ...
2023-12    The Nation                       151647.0   1057.0   3477.0
           The New York Times                79250.0    897.0   1925.0
           The Washington Post               35460.0    229.0    876.0
           Variety                           24929.0    142.0    784.0
           World Health Organization (WHO)  147949.0    904.0   3474.0

                                            tb.word  count  tb.char_ps  \
year_month source_title
2010-01    Bleacher Report                  18748.0   18.0   93.381735
           Business Insider                  5944.0   23.0   97.597765
           CBS News                          8500.0   14.0  116.164706
           CNN                              27947.0   31.0  133.890205
           Entertainment Weekly News        14399.0   21.0   97.555409
...                                             ...    ...         ...
2023-12    The Nation                       26550.0   13.0  143.469253
           The New York Times               14969.0   18.0   88.350056
           The Washington Post               6015.0    8.0  154.847162
           Variety                           4339.0    7.0  175.556338
           World Health Organization (WHO)  22274.0   33.0  163.660398

                                            tb.noun_ps  tb.word_ps  \
year_month source_title
2010-01    Bleacher Report                    2.454795   17.121461
           Business Insider                   2.231844   16.603352
           CBS News                           2.315294   20.000000
           CNN                                2.956556   22.075039
           Entertainment Weekly News          2.684697   18.996042
...                                                ...         ...
2023-12    The Nation                         3.289499   25.118259
           The New York Times                 2.146042   16.687848
           The Washington Post                3.825328   26.266376
           Variety                            5.521127   30.556338
           World Health Organization (WHO)    3.842920   24.639381

                                            tb.char_pw    tb.char_pa  \
year_month source_title
2010-01    Bleacher Report                    5.454075   5680.722222
           Business Insider                   5.878197   1519.130435
           CBS News                           5.808235   3526.428571
           CNN                                6.065231   5467.903226
           Entertainment Weekly News          5.135565   3521.285714
...                                                ...           ...
2023-12    The Nation                         5.711751  11665.153846
           The New York Times                 5.294275   4402.777778
           The Washington Post                5.895262   4432.500000
           Variety                            5.745333   3561.285714
           World Health Organization (WHO)    6.642229   4483.303030

                                            tb.sent_pa  tb.noun_pa  \
year_month source_title
2010-01    Bleacher Report                   60.833333  149.333333
           Business Insider                  15.565217   34.739130
           CBS News                          30.357143   70.285714
           CNN                               40.838710  120.741935
           Entertainment Weekly News         36.095238   96.904762
...                                                ...         ...
2023-12    The Nation                        81.307692  267.461538
           The New York Times                49.833333  106.944444
           The Washington Post               28.625000  109.500000
           Variety                           20.285714  112.000000
           World Health Organization (WHO)   27.393939  105.272727

                                             tb.word_pa
year_month source_title
2010-01    Bleacher Report                  1041.555556
           Business Insider                  258.434783
           CBS News                          607.142857
           CNN                               901.516129
           Entertainment Weekly News         685.666667
...                                                 ...
2023-12    The Nation                       2042.307692
           The New York Times                831.611111
           The Washington Post               751.875000
           Variety                           619.857143
           World Health Organization (WHO)   674.969697

[2420 rows x 13 columns]

Dataframe Statistics NLP Column :'['year_month', 'source_title']'

                                              tb.pol    tb.sub    tb.pos  \
year_month source_title
2010-01    Bleacher Report                  0.124213  0.389539  0.639591
           Business Insider                 0.104064  0.336131  0.712968
           CBS News                         0.072441  0.342836  0.734090
           CNN                              0.059981  0.366584  0.717273
           Entertainment Weekly News        0.122152  0.432726  0.683133
...                                              ...       ...       ...
2023-12    The Nation                       0.053998  0.403125  0.831650
           The New York Times               0.052456  0.357245  0.726762
           The Washington Post              0.048723  0.426593  0.843946
           Variety                          0.145403  0.400051  0.901661
           World Health Organization (WHO)  0.090433  0.331214  0.829034

                                              tb.neg    vs.pos    vs.neu  \
year_month source_title
2010-01    Bleacher Report                  0.360409  0.120095  0.827419
           Business Insider                 0.287032  0.089808  0.864838
           CBS News                         0.265910  0.089420  0.876295
           CNN                              0.282727  0.083774  0.840313
           Entertainment Weekly News        0.316867  0.108575  0.844958
...                                              ...       ...       ...
2023-12    The Nation                       0.168350  0.085802  0.837490
           The New York Times               0.273238  0.085927  0.850044
           The Washington Post              0.156054  0.085209  0.855434
           Variety                          0.098339  0.106178  0.862006
           World Health Organization (WHO)  0.170966  0.096215  0.849159

                                              vs.neg   vs.comp    ts.pos  \
year_month source_title
2010-01    Bleacher Report                  0.052512  0.205392  0.315199
           Business Insider                 0.045384  0.141617  0.202405
           CBS News                         0.034288  0.207247  0.178255
           CNN                              0.075931  0.031468  0.159473
           Entertainment Weekly News        0.046451  0.220015  0.294278
...                                              ...       ...       ...
2023-12    The Nation                       0.076743  0.021675  0.143026
           The New York Times               0.063992  0.079294  0.236200
           The Washington Post              0.059222  0.054903  0.224834
           Variety                          0.031807  0.293261  0.309212
           World Health Organization (WHO)  0.054620  0.173313  0.204111

                                              ts.neu  ...  0_tsne_aj  \
year_month source_title                               ...
2010-01    Bleacher Report                  0.509829  ...   0.761317
           Business Insider                 0.575033  ...   0.643057
           CBS News                         0.634529  ...   0.424713
           CNN                              0.567462  ...   0.326432
           Entertainment Weekly News        0.501886  ...   0.795414
...                                              ...  ...        ...
2023-12    The Nation                       0.540788  ...   0.506438
           The New York Times               0.534759  ...   0.515463
           The Washington Post              0.508540  ...   0.556441
           Variety                          0.536276  ...   0.767021
           World Health Organization (WHO)  0.622148  ...   0.146865

                                            1_tsne_aj  2_tsne_aj  0_pca_aj  \
year_month source_title
2010-01    Bleacher Report                   0.759020   0.325852  0.755039
           Business Insider                  0.466133   0.529817  0.535005
           CBS News                          0.761335   0.473502  0.420852
           CNN                               0.661179   0.524220  0.365546
           Entertainment Weekly News         0.507849   0.662192  0.834695
...                                               ...        ...       ...
2023-12    The Nation                        0.667888   0.749820  0.422306
           The New York Times                0.515279   0.537102  0.537935
           The Washington Post               0.387042   0.541201  0.361318
           Variety                           0.387825   0.508402  0.583203
           World Health Organization (WHO)   0.668217   0.697570  0.142356

                                            1_pca_aj  2_pca_aj  0_ipca_aj  \
year_month source_title
2010-01    Bleacher Report                  0.799264  0.493149   0.754807
           Business Insider                 0.499647  0.414248   0.535033
           CBS News                         0.630285  0.471218   0.420968
           CNN                              0.700041  0.440164   0.365251
           Entertainment Weekly News        0.498644  0.565692   0.834592
...                                              ...       ...        ...
2023-12    The Nation                       0.649505  0.748829   0.422090
           The New York Times               0.543931  0.404616   0.537788
           The Washington Post              0.570597  0.335822   0.361246
           Variety                          0.434305  0.362234   0.583318
           World Health Organization (WHO)  0.617574  0.268350   0.142332

                                            1_ipca_aj  2_ipca_aj  count
year_month source_title
2010-01    Bleacher Report                   0.816176   0.516548     18
           Business Insider                  0.508486   0.585846     23
           CBS News                          0.664683   0.540819     14
           CNN                               0.732857   0.568383     31
           Entertainment Weekly News         0.542948   0.442124     21
...                                               ...        ...    ...
2023-12    The Nation                        0.696445   0.251850     13
           The New York Times                0.572994   0.600277     18
           The Washington Post               0.596352   0.673072      8
           Variety                           0.465897   0.637053      7
           World Health Organization (WHO)   0.655195   0.732232     33

[2420 rows x 71 columns]

Dataframe Statistics Length Column :'tb.class'

,tb.char,tb.sent,tb.noun,tb.word,count,tb.char_ps,tb.noun_ps,tb.word_ps,tb.char_pw,tb.char_pa,tb.sent_pa,tb.noun_pa,tb.word_pa
tb.class,,,,,,,,,,,,,
False,106304559.0,893650.0,2596969.0,18397886.0,20101.0,118.955474,2.906025,20.587351,5.778086,5288.520919,44.457987,129.196010,915.272176
True,491438778.0,3676060.0,12005885.0,82894018.0,91542.0,133.686278,3.265965,22.549691,5.928519,5368.451399,40.157086,131.151657,905.529899

Dataframe Statistics NLP Column :'tb.class'

,tb.pol,tb.sub,tb.pos,tb.neg,vs.pos,vs.neu,vs.neg,vs.comp,ts.pos,ts.neu,...,0_tsne_aj,1_tsne_aj,2_tsne_aj,0_pca_aj,1_pca_aj,2_pca_aj,0_ipca_aj,1_ipca_aj,2_ipca_aj,count
tb.class,,,,,,,,,,,,,,,,,,,,,
False,0.097627,0.369761,0.660942,0.339058,0.092254,0.865257,0.042489,0.169193,0.254975,0.575533,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,20101
True,0.103640,0.367518,0.773576,0.226424,0.096876,0.861584,0.041540,0.190429,0.272719,0.566983,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,91542

Dataframe Statistics Length Column :'vs.class'

,tb.char,tb.sent,tb.noun,tb.word,count,tb.char_ps,tb.noun_ps,tb.word_ps,tb.char_pw,tb.char_pa,tb.sent_pa,tb.noun_pa,tb.word_pa
vs.class,,,,,,,,,,,,,
False,235610057.0,1792470.0,5641953.0,39885454.0,41812.0,131.444352,3.147586,22.251672,5.907167,5634.986535,42.869750,134.936214,953.923610
True,362133280.0,2777240.0,8960901.0,61406450.0,69831.0,130.393225,3.226549,22.110603,5.897317,5185.852702,39.770875,128.322679,879.358022

Dataframe Statistics NLP Column :'vs.class'

,tb.pol,tb.sub,tb.pos,tb.neg,vs.pos,vs.neu,vs.neg,vs.comp,ts.pos,ts.neu,...,0_tsne_aj,1_tsne_aj,2_tsne_aj,0_pca_aj,1_pca_aj,2_pca_aj,0_ipca_aj,1_ipca_aj,2_ipca_aj,count
vs.class,,,,,,,,,,,,,,,,,,,,,
False,0.082597,0.362153,0.750042,0.249958,0.076646,0.869425,0.053927,0.079479,0.211324,0.583835,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,41812
True,0.114509,0.371376,0.755245,0.244755,0.107659,0.857947,0.034396,0.250749,0.304373,0.559353,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,69831

Dataframe Statistics Length Column :'ts.class'

,tb.char,tb.sent,tb.noun,tb.word,count,tb.char_ps,tb.noun_ps,tb.word_ps,tb.char_pw,tb.char_pa,tb.sent_pa,tb.noun_pa,tb.word_pa
ts.class,,,,,,,,,,,,,
False,245475999.0,1880515.0,5824402.0,41629811.0,43726.0,130.536581,3.097238,22.137452,5.896640,5613.959635,43.006792,133.202260,952.060811
True,352267338.0,2689195.0,8778452.0,59662093.0,67917.0,130.993601,3.264342,22.185856,5.904374,5186.732895,39.595315,129.252647,878.455954

Dataframe Statistics NLP Column :'ts.class'

,tb.pol,tb.sub,tb.pos,tb.neg,vs.pos,vs.neu,vs.neg,vs.comp,ts.pos,ts.neu,...,0_tsne_aj,1_tsne_aj,2_tsne_aj,0_pca_aj,1_pca_aj,2_pca_aj,0_ipca_aj,1_ipca_aj,2_ipca_aj,count
ts.class,,,,,,,,,,,,,,,,,,,,,
False,0.083546,0.365126,0.749527,0.250473,0.086786,0.857109,0.056106,0.101205,0.202868,0.567321,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,43726
True,0.114797,0.369722,0.755723,0.244277,0.102005,0.865552,0.032443,0.241587,0.312439,0.569295,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,67917

In [ ]:
import main_var
mv = main_var.main_var()

# from scrap_lib import *
# from pars_lib import *
# from openai_module_lib import *
# from embedding_keyword_module_lib import *
from visualization_module_lib import *
# from dimension_reduc_lib import *
# from agg_lib import *
from utils_art import *

_ENTRY_NUMBER = 1000000
_STEP_PCT = 0.01

df_main = openDFcsv(mv.join2_path,mv.join2_filename)
_2dList_out, _3dList_out = getRenderLists()
plt_2dList = renderAllOptions(df_main,_2dList_out)
plt_3dList = renderAllOptions(df_main,_3dList_out)

In [ ]:
df_main = openDFcsv(mv.join2_path,mv.join2_filename)
#out_list, out_list_label = selectAlgoDfList(df_main,3, norm_output=True, active_sel=[True,True,True,False])
_2dList_out, _3dList_out = getRenderLists()
#for i in range(len(_2dList_out)):
plt_2dList = renderAllOptions(df_main,True,_2dList_out,"")
savePlotList(plt_2dList,mv.visu_path,"2D_"+"")
plt_3dList = renderAllOptions(df_main,False,_3dList_out,"")
savePlotList(plt_3dList,mv.visu_path,"3D_"+"")
# _2dList_out, _3dList_out = getRenderLists(False,False,True,True)
# plt_2dList = renderAllOptions(df_main,True,_2dList_out,"")
# savePlotList(plt_2dList,mv.visu_path,"2D_xxx")
# plt_3dList = renderAllOptions(df_main,False,_2dList_out,"")
# savePlotList(plt_3dList,mv.visu_path,"3D_xxx")

In [ ]:
df_embdedding = openDFxlsx("C:/Users/User/OneDrive/Desktop/Article_LLM/main_files/0_1_bin/","code_conf_excel.xlsx","prompts","")
df_embdedding = mainGeneration(articleTRUEquestionFALSE=False,
                     completionTRUEembeddingFALSE=True,
                     dimension=100,
                     max_prompt=_ENTRY_NUMBER,
                     token_max_emb=7500,
                     cara_max_emb=10000,
                     save_final=True,
                     display_df_var=True,
                     save_steps=True,
                     step_pct=_STEP_PCT)

In [ ]:
# df_embdedding = openDFcsv(mv.embdedding_path,mv.embdedding_filename)
df_embdedding = mainGeneration(articleTRUEquestionFALSE=True,
                     completionTRUEembeddingFALSE=False,
                     dimension=100,
                     max_prompt=_ENTRY_NUMBER,
                     token_max_emb=7500,
                     cara_max_emb=10000,
                     save_final=True,
                     display_df_var=True,
                     save_steps=True,
                     step_pct=_STEP_PCT)

In [ ]:
emb_mat = extractEmbeddingFromFile(_ENTRY_NUMBER,True)

In [ ]:
df_embdedding2 = generateDimReducedDF(n_components=3,
                                          norm_output=True,
                                      active_sel=[True,True,True,False])

### Keyword extraction and NLP analysis `(2_2_keyword)`

<div class="alert alert-block alert-info">
### Keyword extraction and NLP analysis `(2_2_keyword)`
</div>

***
hello

# Final join and visualization
### Joining Quering/Scraping/Embedding/Keywords `(3_1_join)`

In [ ]:
val = [{"test":"lol"}]*False+[{"test2":"lol2"}]*True
print(val)

In [ ]:
import main_var
mv = main_var.main_var()
from dimension_reduc_lib import calculateStatsNLP
from utils_art import *
df_main = openDFcsv(mv.join2_path,mv.join2_filename)
print(df_main.shape)
df=calculateStatsNLP(df_main,"category")
# calculateStatsNLP(df_main,"year_month")
# calculateStatsNLP(df_main,"year")
# df=calculateStatsNLP(df_main,"source_title",sort_by_groupping=False)
print(list(df.columns))